@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 231, 15%, 100%;
    --foreground: 60, 30%, 10%;

    --muted: 232, 14%, 98%;
    --muted-foreground: 60, 30%, 20%;

    --popover: 231, 15%, 94%;
    --popover-foreground: 60, 30%, 20%;

    --border: 232, 14%, 31%;
    --input: 225, 27%, 51%;

    --card: 232, 14%, 98%;
    --card-foreground: 60, 30%, 5%;

    --primary: 240, 1%, 18%;
    --primary-foreground: 60, 30%, 96%;

    --secondary: 37, 61%, 58%;
    --secondary-foreground: 240, 1%, 18%;

    --accent: 225, 27%, 70%;
    --accent-foreground: 60, 30%, 10%;

    --destructive: 0, 100%, 67%;
    --destructive-foreground: 60, 30%, 96%;

    --ring: 225, 27%, 51%;
  }

  .dark {
    --background: 0, 0%, 6.86%;
    --foreground: 30, 69%, 59%;

    --muted: 232, 14%, 31%;
    --muted-foreground: 60, 30%, 96%;

    --popover: 231, 15%, 18%;
    --popover-foreground: 60, 30%, 96%;

    --border: 37, 17%, 35%;
    --input: 37, 17%, 35%;

    --card: 25, 13%, 18%;
    --card-foreground: 60, 30%, 96%;

    --primary: 45, 100%, 81%;
    --primary-foreground: 25, 13%, 18%;

    --secondary: 39, 41%, 57%;
    --secondary-foreground: 60, 30%, 96%;

    --accent: 225, 27%, 51%;
    --accent-foreground: 60, 30%, 96%;

    --destructive: 0, 100%, 67%;
    --destructive-foreground: 60, 30%, 96%;

    --ring: 225, 27%, 51%;
  }
}

/* styles.css */
.collapsibleDropdown {
  overflow: hidden;
}
.collapsibleDropdown[data-state="open"] {
  animation: slideDown 200ms ease-out;
}
.collapsibleDropdown[data-state="closed"] {
  animation: slideUp 200ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}
